nav {
    background-color: var(--navbar-bg-color);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
    color: var(--navbar-text-color);
    margin-right: auto;
    padding-left: 10px;
}

.navbar-title:hover {
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

nav ul li {
    font-family: Arial, sans-serif;
    flex: 1 1 auto;
    text-align: center;
}

nav ul li a {
    color: var(--navbar-link-color);
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px;
}

nav ul li a.active {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.logout-button {
    background: transparent;
    border: none;
    color: var(--navbar-button-bg-color);
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}

.logout-button:hover {
    color: var(--navbar-button-hover-bg-color);
}

.theme-toggle-button {
    background: var(--navbar-button-bg-color);
    color: var(--navbar-button-text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.theme-toggle-button:hover {
    background: var(--navbar-button-hover-bg-color);
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar-title:hover {
        cursor: pointer;
    }

    .active {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--navbar-bg-color);
        padding: 0;
        margin-top: 10px;
    }

    nav.active ul {
        display: flex;
    }

    nav ul li {
        text-align: left;
        padding: 10px 15px;
    }

    .navbar-title {
        margin-bottom: 0;
    }
}

/* Additional Styles */
nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease;
}

.navbar-title:active {
    color: lightyellow;
    transform: scale(0.95);
    transition: transform 0.2s ease, color 0.2s ease;
}